h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

.u-card-main {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #3a37e4, #6c94eb);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.u-card-user_screen {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  min-height: 100vh;

}
.u-glass {
  background: white;
   min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(155, 154, 154, 0.7),
    rgba(34, 32, 32, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.user-img {
  display: flex;
  justify-content: center;
}
.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2rem;
}
@media screen and (max-width: 500px) {
  .img {
    width: 170px;
    height: 170px;
  }
}
@media screen and (max-width: 330px) {
  .img {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 330px) {
  .hidden {
    display: none;
  }
}
.u-cards {
  flex: 2;
}

.u-cards {
  margin: 1.2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.u-card {
  cursor: pointer;
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 1rem 0rem;
  padding: 0.5rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: transform 0.2s;
}
.u-card:hover {
  transform: scale(1.02);
}

.u-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.btn {
  margin: 10px;
  padding: 0.7rem 1.2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 4px #eee;
  border-radius: 10px;
  cursor: pointer;
}
.u-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
/* Demo Stuff End -> */

/* <- Magic Stuff Start */


